body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

header {
  margin-bottom: 1rem;
  /* border-bottom: 1px solid gray; */
}

main {
  flex-grow: 1;
}

footer {
  margin-top: 1rem;
  /* border-top: 1px solid gray; */
}

header,
footer {
  background-color: lightgray;
}

header h1 {
  padding: 2rem 1rem;
}

footer p {
  padding: 2rem 1rem;
}

.playlist-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4rem;
}

.playlist-card {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 10px;
  width: 250px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.playlist-card:hover {
  transform: scale(1.05);
}

.playlist-img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.playlist-text-ctnr {
  padding: 1rem;
}

.playlist-title {
  margin: 10px 0;
}

.playlist-author {
  margin: 10px 0;
}

.playlist-like-ctnr {
  display: flex;
  align-items: center;
}

.playlist-like-heart {
  height: 16px;
  margin-right: 5px;
}

/* CSS for Modal */
.modal-overlay {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  cursor: pointer;
}
.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  cursor: auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.modal-playlist-row {
  display: flex;
  margin: 0 0 1rem;
}
.modal-playlist-text-ctnr {
  padding: 1rem;
  flex-grow: 1;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: all 0.3s ease;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.1);
}
.modal-song-row {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.modal-song-text-ctnr{
  flex-grow: 1;
  padding: 0 1rem;
}

.no-playlists {
  padding: 1rem;
}
