body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

header {
    margin-bottom: 1rem;
    /* border-bottom: 1px solid gray; */
}

main {
    flex-grow: 1;
}

footer {
    margin-top: 1rem;
    /* border-top: 1px solid gray; */
}

header, footer {
    background-color: lightgray;
}

header h1 {
    padding: 2rem 1rem;
}

footer p {
    padding: 2rem 1rem;
}

.playlist-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4rem;
    /* border: 1px solid red; */
}

.playlist-card {
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: start;
    /* border: 1px solid gray; */
    border-radius: 10px;
    width: 250px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.playlist-img {
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.playlist-text-ctnr {
    padding: 1rem;
}

.playlist-title {
    margin: 10px 0;
}

.playlist-author {
    margin: 10px 0;
}

.playlist-like-ctnr {
    display: flex;
    align-items: center;
}

.playlist-like-heart {
    height: 16px;
    margin-right: 5px;
}
